@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<script type="text/javascript" src="@Url.Js("Class/Users")"></script>

<br />
<div class="panel panel-default" data-ng-app="users">
    <div class="panel-heading">
        <h3 class="panel-title">Agregar Usuario</h3>
    </div>
    <div class="panel-body" data-ng-controller="UsersController" data-ng-init="getStates()">

        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#step1" aria-controls="home" role="tab" data-toggle="tab">Nombre</a></li>
            <li role="presentation"><a href="#step2" aria-controls="profile" role="tab" data-toggle="tab">Dirección</a></li>
            <li role="presentation"><a href="#step3" aria-controls="messages" role="tab" data-toggle="tab">Contacto</a></li>
            <li role="presentation"><a href="#step4" aria-controls="messages" role="tab" data-toggle="tab">Nivel Académico</a></li>
            <li role="presentation"><a href="#step5" aria-controls="messages" role="tab" data-toggle="tab">Perfil</a></li>
        </ul>
        <form id="addUserForm">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="step1">
                    <section class="container-tab">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" maxlength="100" class="form-control" id="name" data-ng-model="newUser.Name" placeholder="Escriba el nombre del usuario" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Apellidos</label>
                            <input type="text" maxlength="200" class="form-control" id="lastname" data-ng-model="newUser.LastName" placeholder="Escriba los apellidos del usuario" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <input type="text" class="form-control" id="dateBirth" datepicker-popup="{{format}}" data-ng-model="dateBirth" is-open="openedBirth" min-date="'1900-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openBirth($event)" show-button-bar="false" placeholder="Seleccione la fecha de nacimiento" readonly />
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="step2">
                    <section class="container-tab">

                        <div class="form-group">
                            <label>Calle</label>
                            <input type="text" maxlength="100" class="form-control" id="street" data-ng-model="street" placeholder="Escriba la calle" uppercase />
                        </div>

                        <div class="form-group">
                            <label>Núm. Exterior</label>
                            <input type="text" maxlength="6" class="form-control" id="extNum" data-ng-model="extNum" placeholder="Escriba el número exterior" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Núm. Interior</label>
                            <input type="text" maxlength="6" class="form-control" id="intNum" data-ng-model="intNum" placeholder="Escriba el número interior" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Colonia</label>
                            <input type="text" maxlength="300" class="form-control" id="district" data-ng-model="district" placeholder="Escriba la colonia" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="state" id="state" data-ng-model="state" data-ng-options="option.Estado for option in States" data-ng-change="getTowns()"></select>
                        </div>
                        <div class="form-group">
                            <label>Municipio</label>
                            <select class="form-control" name="town" id="town" data-ng-model="town" data-ng-options="option.Municipio for option in Towns"></select>
                        </div>
                        <div class="form-group">
                            <label>CP</label>
                            <input type="text" maxlength="5" class="form-control" id="CP" data-ng-model="CP" placeholder="Escriba el código postal" numbers-only="numbers-only" />
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="step3">
                    <section class="container-tab">

                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" maxlength="12" class="form-control" id="telephone" data-ng-model="telephone" placeholder="Escriba el número de teléfono" numbers-only="numbers-only" />
                        </div>
                        <div class="form-group">
                            <label>Teléfono celular</label>
                            <input type="text" maxlength="12" class="form-control" id="telCel" data-ng-model="telCel" placeholder="Escriba el número de teléfono celular" numbers-only="numbers-only" />
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="text" maxlength="200" class="form-control" id="mail" data-ng-model="newUser.Mail" placeholder="Escriba el correo electrónico" uppercase />
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="step4">
                    <section class="container-tab">

                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" id="sex" data-ng-model="sex" value="H" checked><label>Masculino</label>
                            </label>
                            <label class="radio-inline">
                                <input type="radio" id="sex" data-ng-model="sex" value="M" checked><label>Femenino</label>
                            </label>
                        </div>
                        <div class="form-group" data-ng-init="AcademicDegrees = @ViewBag.Academic">
                            <label>Nivel academico</label>
                            <select class="form-control" name="academicDegree" id="academicDegree" data-ng-model="academicDegree" data-ng-options="option.NivelAcademico for option in AcademicDegrees"></select>
                        </div>
                        <div class="form-group">
                            <label>Título</label>
                            <input type="text" maxlength="120" class="form-control" id="grade" data-ng-model="grade" value="" placeholder="Escriba el título academico" />
                        </div>
                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="step5" data-ng-init="getProfiles()">
                    <section class="container-tab" data-ng-init="getBranches()">
                        <div class="form-group">
                            <label>Contraseña</label>
                            <input type="password" maxlength="20" class="form-control" id="password" data-ng-model="newUser.Password" value="" placeholder="Escriba la contraseña" />
                        </div>
                        <div class="form-group">
                            <label>Confirmar Contraseña</label>
                            <input type="password" maxlength="20" class="form-control" id="confirmPassword" data-ng-model="newUser.ConfirmPassword" value="" placeholder="Confirme la contraseña" />
                        </div>
                        <div class="form-group">
                            <label>Perfil</label>
                            <select class="form-control" name="profile" id="profile" data-ng-model="newUser.Profile" data-ng-options="option.Perfil for option in Profiles"></select>
                        </div>
                        <div class="form-group">
                            <label>Vendedor</label>
                            <input type="checkbox" class="form-control" style="height:18px;" id="seller" data-ng-model="seller" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="form-group">
                            <label>Facturar</label>
                            <input type="checkbox" class="form-control" style="height:18px;" id="bill" data-ng-model="bill" ng-true-value="true" ng-false-value="false" />
                        </div>
                        <div class="form-group">
                            <label>Restringido</label>
                            <input type="checkbox" class="form-control" style="height:18px;" id="restricted" data-ng-model="restricted" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="form-group">
                            <label>Atencion de ticket</label>
                            <input type="checkbox" class="form-control" style="height:18px;" id="attentionTicket" data-ng-model="attentionTicket" ng-true-value="true" ng-false-value="false" />
                        </div>
                        <div class="form-group">
                            <label>Sucursal</label>
                            <select class="form-control" name="branch" id="branch" data-ng-model="newUser.Branch" data-ng-options="option.Nombre for option in Branches"></select>
                        </div>
                        <div class="form-group">
                            <label>Fecha de Ingreso</label>
                            <input type="text" class="form-control" id="dateInput" datepicker-popup="{{format}}" data-ng-model="dateInput" is-open="openedInput" min-date="'1985-01-01'" max-date="'2200-01-01'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" data-ng-click="openInput($event)" show-button-bar="false" placeholder="Escriba la fecha de ingreso" />
                        </div>
                    </section>
                </div>

            </div>
        </form>
        @Html.Raw(HtmlHelperExtension.Button("Users", "SaveAddUser", "SaveAddUser", "SaveAddUser", "Guardar", "", "", "SaveAddUser()", "btn btn-primary", "Guardando..."))
        <br />
        <ul class="list-group">
            <li class="list-group-item errorGeneral" data-ng-repeat="err in valResult.errors">{{ err.propertyName }}: {{ err.errorMessage }}</li>
        </ul>
    </div>
</div>