body {
    padding: 0;
    margin: 0;
    background: white;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
    text-decoration: none;
}

a {
    text-decoration: none;
    outline: none;
}

    a hover {
        text-decoration: none;
        outline: none;
    }

    a:link {
        text-decoration: none;
        outline: none;
    }

ul {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

.logoAccents {
    cursor: pointer;
}
/*HEADER*/
.header-container {
    margin: 0 auto;
    width: auto;
}

.logo-loguin {
    margin: 0 auto;
    width: 30%;
}

    .logo-loguin img {
        margin: 0 auto;
        width: 100%;
    }

.footer-container {
    margin: 0px auto;
    margin-top: -100px;
    background: url(../images/bg_loguin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    border-top: 5px solid #f5634a;
    bottom: 0;
    position: fixed;
}

.footer-container-input {
    margin: 50px auto;
    width: 80%;
    height: auto;
}

.footer-container-input-txt {
    color: #ff9c5b;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .3pt;
    padding: 10px;
    text-decoration: none;
}

    .footer-container-input-txt a {
        color: #ff9c5b;
        text-decoration: none;
    }

        .footer-container-input-txt a:hover {
            color: #ff9c5b;
            text-decoration: none;
        }

.form-container {
    margin: 100px auto;
    width: 50%;
    height: auto;
}

.error {
    color: #e3e3e3;
    font-weight: bold;
}

.errorGeneral {
    color: #e12328;
}

.color-red {
    color: #e12328;
}

.color-green {
    color: #3c763d;
}

.color-yellow {
    color: #f2f50a;
}

.color-grey {
    color: #C3C3C3;
}

.color-orange {
    color: #ef782a;
}

.button-search {
    color: white;
    border-bottom: 3px solid #cb2731;
    background-color: #ed303c;
    width: 30%;
}

/*MODAL*/
.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.close-modal {
    padding: 2px 10px 10px 10px;
    position: relative;
    top: 0px;
    color: black;
    font-size: 1.2em;
    font-weight: lighter;
    text-decoration: none;
}

    .close-modal:hover {
        text-decoration: none;
    }

.modalDialog:target {
    opacity: 2;
    pointer-events: auto;
}

.modalDialog > div {
    width: 50%;
    position: relative;
    margin: 20% auto;
    background: white;
}

.img-modal {
    text-align: center;
    margin: 0 auto;
    width: 90%;
    height: 180px;
}

    .img-modal img {
        width: 140px;
    }

.container-btn-modal {
    /*display: inline-block;*/
    text-align: center;
    margin: 0px auto;
    width: 100%;
}

.txt-pro-modal-left {
    float: left;
    background: #f9f9f9;
    border-bottom: 3px solid #d9d9d9;
    width: 50%;
    padding: 10px 0;
    font-size: 1.2em;
    color: black;
    font-weight: lighter;
    position: relative;
    top: 0;
}

    .txt-pro-modal-left:hover {
        background: #eaeaea;
    }

.txt-pro-modal-right {
    float: right;
    background: #f9f9f9;
    border-bottom: 3px solid #d9d9d9;
    border-left: 1px solid white;
    width: 50%;
    padding: 10px 0;
    font-size: 1.2em;
    color: black;
    font-weight: lighter;
    position: relative;
    top: 0;
}

    .txt-pro-modal-right:hover {
        background: #eaeaea;
    }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0px;
}

/*HOME*/
.header-home {
    background: #f6f6f6;
    height: 80px;
    width: auto;
    display: block;
}

.container-logo {
    background: #969494;
    text-align: center;
    height: 80px;
    width: 240px;
    float: left;
}

    .container-logo img {
        width: 200px;
        position: relative;
        top: 25px;
    }

.container-user {
    background: #e3e3e3;
    float: right;
    width: 40%;
    height: 80px;
}

.container-int {
    margin: 20px auto;
    width: 100%;
    height: 40px;
}

.container-user-icon {
    position: relative;
    float: left;
    margin-left: 10px;
    height: 40px;
    width: 40px;
}

    .container-user-icon img {
        width: 40px;
    }

.header-home-complete {
    background: red;
    height: 80px;
    width: auto;
}
/*USER_DESPLEGABLE*/

.nav-container {
    margin: 6px auto;
    text-align: right;
    width: 70%;
    height: 80%;
    font-size: 1.1em;
    color: #3b8183;
    font-weight: lighter;
    float: left;
}

ul {
    text-align: center;
}

    ul li {
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: padding .05s linear;
        -moz-transition: padding .05s linear;
        -ms-transition: padding .05s linear;
        -o-transition: padding .05s linear;
        transition: padding .05s linear;
    }

        ul li.drop {
            position: relative;
            top: 3px;
        }

            ul li.drop a {
                position: relative;
                top: 3px;
                color: #3b8183;
                text-decoration: none;
            }

                ul li.drop a:hover {
                    color: #ec3f4a;
                    text-decoration: none;
                }

                ul li.drop a:visited:active {
                    color: #3b8183;
                    text-decoration: none;
                }

    ul > li {
        display: inline-block;
    }

    ul li a {
        padding: 3px 5px;
        -webkit-transition: all .1s ease-out;
        -moz-transition: all .1s ease-out;
        -ms-transition: all .1s ease-out;
        -o-transition: all .1s ease-out;
        transition: all .1s ease-out;
    }

.dropOut .triangle {
    width: 0;
    height: 0;
    position: absolute;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
    top: -8px;
    left: 57.1%;
}

.dropdownContain {
    position: absolute;
    z-index: 2;
    left: 53%;
    margin-left: -80px;
    top: -400px;
}

.dropOut {
    width: 200px;
    background: white;
    float: left;
    position: relative;
    top: -40px;
    opacity: 0;
    border: 1px solid #e8e8e8;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    transition: all .1s ease-out;
}

    .dropOut ul {
        float: left;
        padding: 0 0;
    }

        .dropOut ul li {
            text-align: left;
            float: left;
            width: 80%;
            padding: 12px 0 10px 15px;
            margin: 0px 10px;
            color: #3b8183;
            font-size: 1em;
            -webkit-border-radius: none;
            -moz-border-radius: none;
            border-radius: none;
            -webkit-transition: background .1s ease-out;
            -moz-transition: background .1s ease-out;
            -ms-transition: background .1s ease-out;
            -o-transition: background .1s ease-out;
            transition: background .1s ease-out;
            border-bottom: 1px solid #e8e8e8;
        }

            .dropOut ul li:hover {
                background: none;
                color: #f5634a;
            }

ul li:hover .dropdownContain {
    top: 65px;
}

ul li:hover .dropOut {
    opacity: 1;
    margin-top: 8px;
}

.container-user-icon-desple {
    float: right;
    width: 23px;
    height: 40px;
}

    .container-user-icon-desple img {
        width: 22px;
        position: relative;
        top: 0px;
    }

/*FIN USER DESPLEGABLE*/
.container-exit {
    text-align: center;
    background: #dcdcdc;
    height: 80px;
    width: 80px;
    float: right;
}

    .container-exit img {
        margin: 27px;
        width: 26px;
    }

.home-welcome-container {
    margin: 20px auto;
    width: 80%;
    text-align: center;
    color: #3b8183;
    font-weight: lighter;
    border-bottom: 1px solid #e8e8e8;
}

.home-welcome-txt-t {
    font-size: 1.6em;
}

.home-welcome-txt-s {
    position: relative;
    top: -13px;
    font-size: 1.2em;
}

.Menu-home {
    margin: 0 auto;
    text-align: center;
    width: 80%;
}

.Menu-home-item {
    margin: 0 auto;
    display: inline-block;
    margin-right: 1em;
    margin-bottom: .7em;
    width: auto;
}

.Menu-home-image-container {
    margin: 0 auto;
}

    .Menu-home-image-container img {
        margin: 0 auto;
        width: 100px;
    }

.Menu-description-des {
    font-size: 1.3em;
    color: #8d8d8d;
    font-weight: lighter;
    padding: 5px;
    width: 100%;
    border-radius: none;
}

.image_off, #menu:hover .image_on {
    display: none;
    width: 100px;
}

.image_on, #menu:hover .image_off {
    display: block;
    width: 100px;
}

.container-footer {
    position: inherit;
    bottom: 0;
    width: 100%;
}

.bg-home {
    margin: 0 auto 0 0;
    background: url(../images/bghomefooter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
    border-top: 5px solid #f5634a;
}

.footer-container-copy {
    background: #e8e8e8;
    padding: 4px;
    font-size: .9em;
    color: #BCBCBC;
    font-weight: lighter;
    text-align: center;
    line-height: 10pt;
    width: 100%;
}

    .footer-container-copy a {
        text-decoration: none;
        color: #BCBCBC;
    }

        .footer-container-copy a:hover {
            text-decoration: none;
            color: #BCBCBC;
        }
/*MENU LEFT*/
.menu-left {
    float: left;
    width: 30%;
    padding-bottom: 21%;
    background: #f8f8f8;
}

.topcoat-list-container-left {
    padding: 0;
    margin: 0;
    font: inherit;
    border: 0;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.topcoat-list-left {
    margin: 0 auto;
    list-style-type: none;
    width: 80%;
    font-weight: 300;
}

.topcoat-list-left__item {
    margin: 0;
    padding: 0;
    padding: 1.25rem;
    border-bottom: 1px solid #e9e9e9;
    width: 80%;
}

.container-desciption-nav {
    margin: 10px auto;
    border-bottom: 1px solid #e8e8e8;
    padding: auto;
    text-align: center;
}

.container-nav {
    margin: 0 auto;
    padding: 5px;
    margin-right: 0;
    margin-top: .4em;
    display: inline-block;
    background: none;
}

    .container-nav img {
        width: 20px;
    }

.txt-nav {
    font-size: .8em;
    color: #999999;
    font-weight: lighter;
    letter-spacing: .4pt;
}

.container-tab {
    margin: 20px auto;
}

/*MENU*/
.menu_bar {
    display: none;
}

.menu-mobil {
    display: block;
}

.submenu img {
    width: 22px;
    position: relative;
    top: 0px;
    left: 10px;
}

.mobil {
    display: none;
}

.escr {
    display: block;
}

section {
    width: 100%;
}

    section nav {
        background: #EFEFEF;
        z-index: 1000;
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

        section nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            background: none;
        }

            section nav ul li {
                display: inline-block;
                position: relative;
            }

                section nav ul li:hover {
                    background: #E8E8E8;
                    white-space: nowrap;
                }

                section nav ul li a {
                    color: black;
                    display: block;
                    text-decoration: none;
                    padding: 10px 0px;
                    font-weight: 300;
                    white-space: nowrap;
                }

                section nav ul li:hover .children {
                    display: block;
                    position: absolute;
                }

                section nav ul li .children {
                    display: none;
                    background: #f9f9f9;
                    position: absolute;
                    width: 150%;
                    z-index: 10000;
                    text-align: left;
                }

                    section nav ul li .children li {
                        display: block;
                        overflow: hidden;
                        border-bottom: 1px solid rgba(255,255,255,.5);
                    }

                        section nav ul li .children li a {
                            display: block;
                        }

nav > li {
    float: left;
}

nav li ul {
    display: none;
    min-width: 140px;
}

/*nav li:hover > ul{
    display: block;
}*/













@media screen and (min-width: 800px) {
    section nav ul li a {
        padding: 10px 15px 10px 15px;
    }
}

@media screen and (max-width: 768px) {
    .menu-mobil {
        display: block;
    }

    .container-logo {
        display: none;
    }

        .container-logo img {
            display: none;
        }

    .menu_bar {
        display: block;
        width: 30%;
        position: absolute;
        top: 0;
        background: none;
    }

        .menu_bar .bt-menu {
            display: block;
            padding: 27px;
            color: white;
            overflow: hidden;
            font-size: 15px;
            font-weight: 300;
            text-decoration: none;
            background: #3b8183;
            width: 100;
            margin: 0;
        }

    section nav {
        width: 50%;
        height: calc(100% - 0px);
        position: absolute;
        right: 100%;
        margin: 0;
        overflow: scroll;
        text-align: left;
    }

        section nav ul li {
            display: block;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }

            section nav ul li a {
                display: block;
                padding: 17px 10px 17px 10px;
                text-align: left;
                margin-left: 20px;
            }

            section nav ul li:active .children {
                display: block;
                position: absolute;
            }

            /*section nav ul li:hover .children {
        display: none;
    }*/

            section nav ul li .children {
                width: 100%;
                position: relative;
            }

                section nav ul li .children li a {
                    margin-left: 40px;
                }
}
/*MENU*/


/*Queris*/
@media screen and (min-width: 1025px) { /*iMac*/
    .logo-loguin {
        width: 350px;
    }

    .footer-container-input {
        margin: 5% auto;
        width: 35%;
    }

    /*.Menu-home {
        width: 768px;
    }*/

    .panel {
        width: 740px;
    }

    .container-nav {
        width: 10%;
    }

    .container-tab {
        width: 500px;
    }
}

@media screen and (max-width: 1024px) { /*PC/iPad*/
    .logo-loguin {
        width: 250px;
    }

    .footer-container-input {
        margin: 100px auto;
        width: 35%;
    }

    .dropOut .triangle {
        left: 57.1%;
    }

    .container-nav {
        width: 10%;
    }

    .container-tab {
        width: 50%;
    }
}

@media screen and (max-width:768px) { /*iPad*/
    .logo-loguin {
        width: 40%;
    }

    ..mobil {
        display: block;
    }

    .escr {
        display: none;
    }

    .footer-container-input {
        margin: 200px auto;
        width: 46%;
    }

    .Menu-home {
        width: 80%;
    }

    .menu-left {
        display: none;
    }

    .container-exit-mobil {
        text-align: center;
        background: #dcdcdc;
        height: 4rem;
        width: 60px;
        float: right;
    }

        .container-exit-mobil img {
            margin: 20px;
            width: 26px;
        }

    .container-user-mobil {
        background: #e3e3e3;
        width: 100%;
        height: 4rem;
    }

    .container-user-icon-mobil {
        position: relative;
        height: 4rem;
        width: 40px;
    }

        .container-user-icon-mobil img {
            position: relative;
            top: 10px;
            width: 40px;
        }
    /*USER_DESPLEGABLE MOBIL*/
    .nav-container-mobil {
        position: fixed;
        margin: 15px auto;
        text-align: right;
        width: auto;
        height: auto;
        font-size: 1em;
        color: #3b8183;
        font-weight: lighter;
        float: left;
        margin-left: 6%;
    }
    /*FIN USER DESPLEGABLE*/
    .container-nav {
        width: 20%;
    }
}

@media screen and (max-width: 736px) { /**/
    .logo-loguin {
        width: 300px;
    }

    .footer-container {
        margin: -30% auto;
    }

    .footer-container-input {
        width: 50%;
    }

    .modalDialog > div {
        margin: 3% auto;
    }

    .img-modal img {
        width: 100px;
    }

    .header-home {
        background: #e3e3e3;
    }

    .Menu-home-item {
        margin-right: .7em;
        margin-bottom: .7em;
    }
}

@media screen and (max-width: 568px) {
    .nav-container-mobil {
        margin-left: 8%;
    }
}

@media screen and (max-width: 414px) { /*iPhone 6 Plus*/
    .logo-loguin {
        width: 270px;
    }

    section nav {
        width: 80%;
    }

    .footer-container {
        margin: -8% auto;
    }

    .footer-container-input {
        margin: 70px auto;
        width: 80%;
    }

    .modalDialog > div {
        width: 85%;
        margin: 45% auto;
    }

    .container-logo {
        height: 45px;
        width: 30%;
    }

        .container-logo img {
            width: 80%;
            top: 20%;
        }

    .header-home {
        background: #e3e3e3;
        height: 45px;
    }

    .container-user {
        width: 55%;
        height: 45px;
    }

    .container-int {
        margin: 3px auto;
        width: 100%;
        height: 40px;
    }

    .container-user-icon {
        top: 5px;
        height: 30px;
        width: 30px;
    }

        .container-user-icon img {
            width: 30px;
        }

    .container-user-txt {
        margin-left: 5px;
        width: 50%;
        padding: 4% 0 4% 0;
        font-size: 1em;
    }

    .container-user-icon-desple {
        width: 19px;
    }

        .container-user-icon-desple img {
            width: 19px;
        }

    .container-exit {
        height: 45px;
        width: 45px;
    }

        .container-exit img {
            margin: 12px;
            width: 20px;
        }

    .Menu-home {
        width: 90%;
    }

    .Menu-home-item {
        margin-right: .2em;
        margin-bottom: .3em;
    }

    .footer-container-copy {
        font-size: .7em;
    }

    .nav-container-mobil {
        margin-left: 10%;
    }

    .panel {
        width: 70%;
    }

    .container-nav {
        width: 30%;
    }

    .container-tab {
        width: 70%;
    }

    .menu_bar .bt-menu {
        padding: 8.5px;
    }
}

@media screen and (max-width: 320px) { /*iPone 5*/
    .logo-loguin {
        width: 180px;
    }

    .footer-container {
        margin: -18% auto;
    }

    .footer-container-input {
        margin: 80px auto;
    }

    .container-logo img {
        width: 83%;
        top: 27%;
    }

    .container-user-txt {
        padding: 5% 0 5% 0;
    }

    .Menu-home {
        width: 90%;
    }

    .Menu-home-item {
        margin-right: 1em;
        margin-bottom: .3em;
    }

    .nav-container {
        width: 76%;
    }

    .nav-container-mobil {
        margin-left: 13%;
    }

    .panel {
        width: 80%;
    }

    .container-tab {
        width: 80%;
    }

    .menu_bar .bt-menu {
        padding: 8.5px;
    }
}

.ng-hide:not(.ng-hide-animate) {
    /* this is just another form of hiding an element */
    /*display: block !important;*/
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}

.search-control {
    padding: 5px 10px;
}

.img-product-list {
    width: 80px;
    height: auto;
    max-height: 150px;
}

.fa2 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 0;
    left: 5%;
    color: white;
    font-size: 1.5em;
    text-align: center;
    color: #e12328;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.txt-describe {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn-girlfriend {
    color: #fff;
    background-color: #ff9abb;
    border-color: #ff9abb;
}

    .btn-girlfriend:hover {
        color: #fff;
        background-color: #fc88ae;
        border-color: #fc88ae;
    }

.theadstatic tr {
    display: block;
    position: relative;
}

.static tbody {
    display: block;
    overflow: auto;
    width: 100%;
}

.bgColorYellow {
    background-color: #f8fa84;
}

.bgTicketColorYellow {
    background-color: #f5f39f !important;
}

.bgTicketColorGreen {
    background-color: #91FED7 !important;
}
.bgTicketColorGray {
    background-color: #DAD8D7 !important;
}

.margen1 {
    margin-top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: red;
}




