@using System.Web.MVC;
@using System.Web.Helpers;
@using ADSystem.Helpers;
@model ADEntities.ViewModels.MoralCustomerViewModel

@{
    ViewBag.Title = "Agregar Cliente Moral";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";

}

<script type="text/javascript" src="@Url.Js("Class/Customers")"></script>
<br />
<div class="panel panel-default" data-ng-app="customers">
    <div class="panel-heading">
        <h3 class="panel-title">Agregar Cliente Moral</h3>
    </div>
    <div class="panel-body" data-ng-controller="CustomersController" data-ng-init="getStates()">
        <code ng-show="!addMoralCustomerForm.$valid">Revise la información</code><br>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#mcstep1" aria-controls="home" role="tab" data-toggle="tab">Datos Generales</a></li>
            <li role="presentation"><a href="#mcstep2" aria-controls="profile" role="tab" data-toggle="tab">Dirección</a></li>
            <li role="presentation"><a href="#mcstep3" aria-controls="messages" role="tab" data-toggle="tab">Contacto</a></li>
        </ul>
        <form id="addMoralCustomerForm" name="addMoralCustomerForm">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="mcstep1">
                    <section class="container-tab">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" maxlength="100" class="form-control" id="Name" name="Name" data-ng-model="newMoralCustomer.Name" placeholder="Escriba el nombre del cliente" uppercase  required/>
                            <code class="has-error" ng-show="addMoralCustomerForm.Name.$error.required">Requerido!</code>
                        </div>
                        <div class="form-group">
                            <label>RFC</label>
                            <input type="text" maxlength="16" class="form-control" id="RFC" name="RFC" data-ng-model="newMoralCustomer.RFC" placeholder="Escriba el RFC" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Teléfono Celular</label>
                            <input type="text" maxlength="12" class="form-control" id="CelPhone" name="CelPhone" data-ng-model="newMoralCustomer.CelPhone" placeholder="Escriba el teléfono celular" numbers-only="numbers-only" />
                        </div>
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input type="text" maxlength="12" class="form-control" id="Phone" name="Phone" data-ng-model="newMoralCustomer.Phone" placeholder="Escriba el teléfono" numbers-only="numbers-only" required/>
                            <code class="has-error" ng-show="addMoralCustomerForm.Phone.$error.required">Requerido!</code>
                        </div>
                        <div class="form-group">
                            <label>Correo</label>
                            <input type="text" maxlength="200" class="form-control" id="Mail" name="Mail" data-ng-model="newMoralCustomer.Mail" data-ng-init="newMoralCustomer.Mail='noreply@correo.com'" placeholder="Escriba el correo del cliente" uppercase required/>
                            <code class="has-error" ng-show="addMoralCustomerForm.Mail.$error.required">Requerido!</code>
                            <code class="has-error" ng-show="addMoralCustomerForm.Mail.$error.email">Email invalido!</code>
                        </div>
                        <div class="form-group">
                            <label>Sitio Web</label>
                            <input type="text" maxlength="300" class="form-control" id="WebSite" data-ng-model="newMoralCustomer.WebSite" placeholder="Escriba el sitio web del cliente" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Nacionalidad</label>
                            <select class="form-control" name="Street" id="Nationality" data-ng-model="newMoralCustomer.Nationality" data-ng-options="option.name for option in NationalitiesData"></select>

                        </div>

                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="mcstep2">
                    <section class="container-tab">

                        <div class="form-group">
                            <label>Calle</label>
                            <input type="text" maxlength="100" class="form-control" id="Street" data-ng-model="newMoralCustomer.Street" placeholder="Escriba la calle" uppercase />
                        </div>

                        <div class="form-group">
                            <label>Num Exterior</label>
                            <input type="text" maxlength="6" class="form-control" id="OutNumber" data-ng-model="newMoralCustomer.OutNumber" placeholder="Escriba el número exterior" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Num Interior</label>
                            <input type="text" maxlength="6" class="form-control" id="IntNumber" data-ng-model="newMoralCustomer.IntNumber" placeholder="Escriba el número interior" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Colonia</label>
                            <input type="text" maxlength="300" class="form-control" id="Suburb" data-ng-model="newMoralCustomer.Suburb" placeholder="Escriba la colonia" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Estado</label>
                            <select class="form-control" name="state" id="state" data-ng-model="state" data-ng-options="option.Estado for option in States" data-ng-change="getTowns()"></select>
                        </div>
                        <div class="form-group">
                            <label>Municipio</label>
                            <select class="form-control" name="town" id="Town" data-ng-model="newMoralCustomer.Town" data-ng-options="option.Municipio for option in Towns"></select>
                        </div>
                        <div class="form-group">
                            <label>CP</label>
                            <input type="text" maxlength="5" class="form-control" id="PC" data-ng-model="newMoralCustomer.PC" placeholder="Escriba el código postal" numbers-only="numbers-only">
                        </div>

                    </section>
                </div>

                <div role="tabpanel" class="tab-pane" id="mcstep3">
                    <section class="container-tab">

                        <div class="form-group">
                            <label>Nombre Contacto</label>
                            <input type="text" maxlength="250" class="form-control" id="ContactName" data-ng-model="newMoralCustomer.ContactName" placeholder="Escriba el nombre del contacto" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Teléfono Contacto</label>
                            <input type="text" maxlength="12" class="form-control" id="ContactPhone" data-ng-model="newMoralCustomer.ContactPhone" placeholder="Escriba el teléfono del contacto" numbers-only="numbers-only" />
                        </div>
                        <div class="form-group">
                            <label>Correo Contacto</label>
                            <input type="text" maxlength="200" class="form-control" id="ContactMail" data-ng-model="newMoralCustomer.ContactMail" placeholder="Escriba el correo del contacto" uppercase />
                        </div>
                        <div class="form-group">
                            <label>Crédito</label>&nbsp;&nbsp;&nbsp;
                            <input type="checkbox" id="Credit" data-ng-model="newMoralCustomer.Credit" ng-true-value="1" ng-false-value="0" />
                        </div>
                        <div class="form-group">
                            <label>Plazo</label>
                            <select class="form-control" name="state" id="TimeOfCredit" data-ng-model="newMoralCustomer.TimeOfCredit" data-ng-options="option as option for option in months"></select>
                        </div>
                        <div class="form-group">
                            <label>Límite Crédito</label>
                            <input type="text" maxlength="9" class="form-control" id="CreditLimit" data-ng-model="newMoralCustomer.CreditLimit" ng-currency placeholder="Escriba el límite de crédito" numbers-only="numbers-only" />
                        </div>
                        <div class="form-group" data-ng-init="getOriginCustomer()">
                            <label>Origen</label>
                            <select class="form-control" id="idOrigin" name="idOrigin" data-ng-model="idOrigin" data-ng-options="option.idOrigen as option.Origen for option in origins" required>
                                <option value="">Seleccione</option>
                            </select>
                            <code class="has-error" ng-show="addMoralCustomerForm.idOrigin.$error.required">Requerido!</code>
                        </div>
                    </section>
                </div>
            </div>
        </form>
        @Html.Raw(HtmlHelperExtension.Button("Customers", "AddMoralCustomer", "AddMoralCustomer", "AddMoralCustomer", "Guardar", "", "", "SaveAddMoral(true)", "btn btn-primary", "Guardando..."))
    </div>
</div>

