
@font-face { 
	font-family: "Berthold Akzidenz";    
	src: url(.../fonts/Berthold Akzidenz Grotesk BE Light Condensed.ttf); 
	src: url(.../fonts/Berthold Akzidenz Grotesk BE Light Condensed.eot); 
	src: url(.../fonts/Berthold Akzidenz Grotesk BE Light Condensed.woff); 
}